# Object files
*.o
*.a
objs/

# Executable
minishell
tests/run_tests
compile_commands.json

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Editor files
.DS_Store
*~
*.swp
*.swo

# Test files
*.log

# GoogleTEST
libs/googletest
