name: Build (make)

run-name: "Build for PR: ${{ github.event.pull_request.title }}"

on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-slim
    timeout-minutes: 10

    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@main

      - name: Install readline
        run: brew install readline

      - name: Build (make)
        run: make
